[submodule "abhishek"]
	path = abhishek
	url = https://github.com/rishabhdv1/2July2024-Abhishek_ChildRepo.git
[submodule "rohit"]
	path = rohit
	url = https://github.com/rishabhdv1/2July2024-Rohit_ChildRepo_GitSubModule.git
[submodule "2July2024-Aashish_ChildRepo_GitSubModule"]
	path = 2July2024-Aashish_ChildRepo_GitSubModule
	url = https://github.com/rishabhdv1/2July2024-Aashish_ChildRepo_GitSubModule.git
